name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # Install tools from mise.toml
      - uses: jdx/mise-action@v3
        with:
          cache: true

      - run: npm ci

      - run: npx nx format:check --base="remotes/origin/main"
      - run: npx nx run-many -t lint test build typecheck e2e-ci
